* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    width: 100%;
    position: relative;
}

.main-wrapper-container {
    width: inherit;
    position: absolute;
    top: 0;
    height: 100vh;
}

.inner-container {
    width: 100%;
    position: absolute;
    display: none;
}

.btn-container {
    width: 98%;
    max-width: 50rem;
    padding: 1%;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn--0 {
    padding: 28px 24px;
    background-color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: cursive;
    cursor: pointer;
}

.btn--1 {
    padding: 28px 24px;
    background-color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: cursive;
    cursor: pointer;
}

.text-header {
    width: 100%;
    font-size: 24px;
    padding: 5rem 0;
    text-align: center;
    color: #fff;
    font-weight: 700;

}


.top-bar {
    padding: 0 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    width: 158px;
    height: 111px;
}

.logo-container img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.header-text {
    font-size: 12px;
    font-weight: 900;
    font-family: cursive;
}

#btn--1 {
    padding: 11px 38px;
    box-shadow: 0px 0px 3px 0px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    outline: transparent;
    width: 100%;
    max-width: 150px;
    margin: 0 3px;
}

#btn--0 {
    padding: 11px 38px;
    box-shadow: 0px 0px 3px 0px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    outline: transparent;
    width: 100%;
    max-width: 150px;
    margin: 0 3px;
}

#btn--2 {
    border: 1px solid transparent;
    margin: 0 3px;
    font-size: 24px;
    text-decoration: underline;
    background-color: transparent;
    font-family: cursive;
    cursor: pointer;
}

.transaction-container {
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
    padding-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
    /* display: none; */
}

.current-balance-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-balance-value h1 {
    font-size: 40px;
    font-weight: 100;
}

.main-transaction {
    width: 100%;
    margin-top: 2.5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.transfer-section {
    width: 49.5%;
    margin: 0 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 443px;
}

.transfer-money-container {
    width: 100%;
    background-color: yellow;
    padding: 5% 9%;
    border-radius: 8px;
    font-family: cursive;
}

.loan-container {
    padding: 5% 9%;
    background-color: green;
    width: 100%;
    border-radius: 8px;
    font-family: cursive;
}

.close-amount-container {
    padding: 5% 9%;
    background-color: red;
    width: 100%;
    border-radius: 8px;
    font-family: cursive;
}

.transaction-list {
    width: 49.5%;
    margin: 0 0.5%;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 1% 0;
    height: 443px;
    overflow-y: scroll;
}

.transaction-info::marker {
    display: none;
}

.transaction-info {
    padding: 3% 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.info--1 {
    display: flex;
    align-items: center;
}

.deposit {
    background-color: green;
    font-weight: 900;
    color: #fff;
    padding: 2px 5px;
    border-radius: 999px;
    margin-right: 25px;
}

.info-tranc-amount h2 {
    font-weight: 900;
    font-family: cursive;
    font-size: 20px;
}

.Withdrawal {
    background-color: red;
    font-weight: 900;
    color: #fff;
    padding: 2px 5px;
    border-radius: 999px;
    margin-right: 25px;
}

.in--0 {
    display: flex;
    align-items: baseline;
}

.in--0 h1 {
    color: green;
    font-size: 24px;
    margin: 0 3px;
}

.in--0 p {
    font-family: cursive;
    font-weight: 800;
}

.in--1 {
    display: flex;
    align-items: baseline;
}

.in--1 h1 {
    color: red;
    font-size: 24px;
    margin: 0 3px;
}

.in--1 p {
    font-family: cursive;
    font-weight: 800;
}

.in--2 {
    display: flex;
    align-items: baseline;
}

.in--2 h1 {
    color: green;
    font-size: 24px;
    margin: 0 3px;
}

.in--2 p {
    font-family: cursive;
    font-weight: 800;
}

.interest-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 50%;
}

.amount-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.time-logged-in p {
    font-family: cursive;
    font-weight: 800;
}

.input-container-0 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.input-container-1 {
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.input-field {
    padding: 3% 5%;
    outline: transparent;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 2% 0;
    border-radius: 5px;
}

.send--0{
    margin-top: 1%;
    padding: 5px 6px;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: aliceblue;
}

.hidden{
    display: none;
}

.sort-display{
    cursor: pointer;
    border: 1px solid transparent;
    padding: 1%;
}